.Footer {
    background: #333;
    color: rgba(255,255,255,.5);
    

    .footer_inner {
        display: flex;
        gap: 60px;
        height: 160px;

        .f_logo {
            display: flex;
            width: 120px;
            height: 50px;
            margin: 45px 0 0 0;
            // outline: 1px solid red;
        }

        .f_right {
            // outline: 1px solid red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;

            ul {
                display: flex;
                gap: 20px;
                font-size: 15px;
                font-weight: 300;
                margin: 0 0 10px;
            }

            address {
                font-size: 12px;
                
            }
        }
        
    }


}