Header {

    &.on {
        background: rgb(0, 0, 0, 0.8);
        border-bottom: none;
        line-height: 80px;
        transition: 0.3s;
    }

    &.on .GlobalGnb {
        ul {
            inset: 85px auto auto 50%;
        }
    }

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    // background: rgba(61, 61, 61, 0.3);
    border-bottom: 1px solid rgba(211, 211, 211, 0.1);
    line-height: 100px;


    h1 {
        width: 160px;
        font-size: 0;
    }

    .inner {
        display: flex;
        justify-content: space-between;
        color: #fff;
    }

}


.GlobalGnb {
    &>ul {
        display: flex;
        gap: 50px;

        &>li:hover {
            color: #00d0ff;
        }

        ul {
            display: none;
            position: absolute;
            inset: 100px auto auto 50%;
            transform: translate(-50%, -20px);
            line-height: 40px;
            background: #f9f9f9;

            width: 120px;
            text-align: center;
            color: #333;
            font-size: 13px;
            font-weight: 500;

            li~li {
                border-top: 1px solid #ddd;
            }
        }

        &>li {
            position: relative;

            &:hover ul {
                display: block;
            }

            a {
                display: block;
            }
        }
    }
}

//https://iancoding.tistory.com/224