.MainVisual {

    // 슬라이드 깜박임 제거...
    .slick-track,
    .slick-list {
        transition-delay: 30ms;
    }

    .itm {
        position: relative;
        height: 100vh;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            background: rgba(10, 10, 10, 0.45);
        }

        .inner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;

            h2 {
                font-size: 71px;
                font-weight: 700;
                margin: 0 0 25px 0;
                text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
            }

            h2::after {
                content: "";
                display: inline-block;
                width: 12px;
                height: 12px;
                background: #00d0ff;
                border-radius: 50%;
                margin: 0 0 0 15px;
            }

            p {
                font-size: 27px;
                font-weight: 500;
                text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
            }

        }
    }

    .itm01 {
        background: url(../../public/assets/main01.jpg) no-repeat center center/cover;
    }

    .itm02 {
        background: url(../../public/assets/main02.jpg) no-repeat center center/cover;
    }

    .arrows>* {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        font-size: 0;
        border: none;
        outline: none;
        background: transparent;

        width: 50px;
        height: 50px;
        cursor: pointer;


        &.prev {
            margin: 0 0 0 -800px;
            border-bottom: 1px solid #fff;
            border-left: 1px solid #fff;
        }

        &.next {
            margin: 0 0 0 800px;
            border-top: 1px solid #fff;
            border-right: 1px solid #fff;
        }

    }

    .scroll {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 17px;
        font-weight: 300;
        color: #fff;
        letter-spacing: 0.2em;
    }

    .parking {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-100%, 0);
        margin: 0 0 0 600px;
        // background: rgb(0, 0, 0, 0.6);
        background: #ff5a2b;
        // color: #00d0ff;
        color: #fff;
        // border-radius: 20px 20px 0 0;

        .parking_tit {
            padding: 20px 40px 15px 45px;
            text-align: center;
            display: flex;

            h3 {
                padding: 0 20px 0 0;
                font-size: 17px;

            }

            .icon {
                font-size: 21px;
                margin: -3px 0 0 0;
            }

        }


    }


}