body {
    overflow: hidden;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: rgb(19, 19, 19, 0.5);
    line-height: 100px;
}

header h1 {
    width: 160px;
    font-size: 0;
}

header .inner {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

header .gnb>ul {
    display: flex;
    gap: 50px;
}

.MainVisual img {
    height: 100vh;
}

